@import '~/assets/styles/variables'
@import '~/assets/styles/mixins.sass'

.MainFilterMedia
    width: 100%

    @media (min-width: 900px)
        display: none

    &__wrap
        display: flex
        flex-wrap: wrap

    &__btn
        width: 46px
        height: 46px

    &-btn
        border-radius: 100%
        background-color: $purple
        background-image: url(/img/settings.png)
        background-repeat: no-repeat
        background-position: center

    &__settings
        display: flex
        flex-wrap: wrap
        gap: $gap

    .active
        margin-bottom: calc( $gap * 3 )
