@import '~/assets/styles/variables'
@import '~/assets/styles/mixins.sass'

.AppLogo
    @include trs()
    cursor: pointer
    z-index: 3

    &__svg
        @media (max-width: 900px)
            width: 177px

        @media (max-width: 420px)
            width: 131px

    &:hover
        transform: scale(1.05)

    &:active
        transform: scale(0.95)
