@import '~/assets/styles/variables'
@import '~/assets/styles/mixins.sass'
@import '~/assets/styles/cardCommon.sass'

.CardOne
    &__bgimage
        bottom: 42.5%
        left: 29.5%

    &__bgperson
        left: 0

    &__bgflag
        left: 36%

    &__cost
        width: 155px
        margin-right: 30px

.CardOne-cost
    &__discount
        right: 0
