@import '~/assets/styles/variables'
@import '~/assets/styles/mixins.sass'

.AppMain
    padding-bottom: 140px
    background-image: url(/img/bg.png)
    background-size: contain
    background-repeat: no-repeat
    background-position: center

    @media (min-width: 1401px)
        background-size: 100% 100%

    &__container
        display: flex
        justify-content: space-between

        @media (max-width: 1300px)
            flex-direction: column
            align-items: center
            row-gap: calc( $gap * 3 )    

    &__hero
        display: flex
        flex-direction: column
        max-width: 860px
        width: 100%



